@import './base.css';
html {overflow:hidden !important;}

.w100 {width:100px !important;}
.w150 {width:150px !important;}
.w200 {width:200px !important;}
.w250 {width:250px !important;}
.w300 {width:300px !important;}
.w350 {width:350px !important;}
.w400 {width:400px !important;}

.mw10  { max-width: 10px !important; }
.mw20  { max-width: 20px !important; }
.mw30  { max-width: 30px !important; }
.mw40  { max-width: 40px !important; }
.mw50  { max-width: 50px !important; }
.mw60  { max-width: 60px !important; }
.mw70  { max-width: 70px !important; }
.mw80  { max-width: 80px !important; }
.mw90  { max-width: 90px !important; }
.mw100 { max-width: 100px !important; }
.mw110 { max-width: 110px !important; }
.mw120 { max-width: 120px !important; }
.mw130 { max-width: 130px !important; }
.mw140 { max-width: 140px !important; }
.mw150 { max-width: 150px !important; }
.mw160 { max-width: 160px !important; }
.mw170 { max-width: 170px !important; }
.mw180 { max-width: 180px !important; }
.mw190 { max-width: 190px !important; }
.mw200 { max-width: 200px !important; }
.mw210 { max-width: 210px !important; }
.mw220 { max-width: 220px !important; }
.mw230 { max-width: 230px !important; }
.mw240 { max-width: 240px !important; }
.mw250 { max-width: 250px !important; }
.mw260 { max-width: 260px !important; }
.mw270 { max-width: 270px !important; }
.mw280 { max-width: 280px !important; }
.mw290 { max-width: 290px !important; }
.mw300 { max-width: 300px !important; }
.mw310 { max-width: 310px !important; }
.mw320 { max-width: 320px !important; }
.mw330 { max-width: 330px !important; }
.mw340 { max-width: 340px !important; }
.mw350 { max-width: 350px !important; }
.mw360 { max-width: 360px !important; }
.mw370 { max-width: 370px !important; }
.mw380 { max-width: 380px !important; }
.mw390 { max-width: 390px !important; }
.mw400 { max-width: 400px !important; }
.mw410 { max-width: 410px !important; }
.mw420 { max-width: 420px !important; }
.mw430 { max-width: 430px !important; }
.mw440 { max-width: 440px !important; }
.mw450 { max-width: 450px !important; }
.mw460 { max-width: 460px !important; }
.mw470 { max-width: 470px !important; }
.mw480 { max-width: 480px !important; }
.mw490 { max-width: 490px !important; }
.mw500 { max-width: 500px !important; }

.p1 {padding:1rem;}

.h80 {height:80px !important;}
.h100 {height:100px !important;}
.h150 {height:150px !important;}
.h200 {height:200px !important;}
.h250 {height:250px !important;}
.h300 {height:300px !important;}
.h350 {height:350px !important;}
.h360 {height:360px !important;}
.h400 {height:400px !important;}
.h450 {height:450px !important;}
.h500 {height:500px !important;}

.h-m-10vh {height:calc(100% - 10vh) !important;}
.overflow-overlay {overflow: overlay;}
.fx1 {flex:1 !important;}

